<!doctype html>
<html lang=''>
<head>
<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet"
   href= "static/styles/styles1.css">
</head>
<body>
<div id='cssmenu'>
<ul>
<li><img  style="height:7vh; padding-right:4px;padding-left:4px;" src="static/images/icon.png" ></li>
<li><label style="height:7vh;padding-right:4px;font-size:28px;font-weight:bold;margin-top:5px;
padding-top:4px;">Detector</label></li>
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/about">About</a></li>
  <li><a href="/form">Analyse your test report</a></li>
</ul>
</div>
<body >
<h3 style="color:#EE731D;font-size:30px;">Hypothyroidism</h3>
<p style="font-size:20px;">Hypothyroidism, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone.It can cause a number of symptoms, such as poor ability to tolerate cold, a feeling of tiredness, constipation, depression, and weight gain. Occasionally there may be swelling of the front part of the neck due to goiter.</p>
<p style="font-size:20px;">Our site provides  risk calculator regarding hypothyroidism providing a questionnarie and helps people in adivising tests if required</p>
</p>
<p style="font-size:20px;">If you had already taken your thyroidism test at a lab</p>
<p style="font-size:20px;">Analyse your test reports and check whether you are effected or not.
This requires your hormone level values tested recently
<h3 style="color:#EE731D;font-size:30px;">How does my thyroid work?</h3>
<p style="font-size:20px;">The thyroid gland is a small, butterfly-shaped organ located in the front of your neck just under the voice box (larynx). Picture the middle of the butterfly’s body centered on your neck, with the wings hugging around your windpipe (trachea). The main job of the thyroid is to control your metabolism. Metabolism is the process that your body uses to transform food to energy your body uses to function. The thyroid creates the hormones T4 and T3 to control your metabolism. These hormones work throughout the body to tell the body’s cells how much energy to use. They control your body temperature and heart rate.</p>
<p style="font-size:20px;">When your thyroid works correctly, it’s constantly making hormones, releasing them and then making new hormones to replace what’s been used. This keeps your metabolism functioning and all of your body’s systems in check. The amount of thyroid hormones in the bloodstream is controlled by the pituitary gland, which is located in the center of the skull below the brain. When the pituitary gland senses either a lack of thyroid hormone or too much, it adjusts its own hormone (thyroid stimulating hormone, or TSH) and sends it to the thyroid to balance out the amounts.</p>
<a href="form.html">Click here to analyse!</a></p>
<br>
<center><p style="font-size:30px;font-weight:bold;">Stay Healthy! Live Happy Life!</p></center>
</body>
</body>
</html>